html, body {
  min-width: 100vw  !important;
  height: 100%;
  display: flex;
  justify-content: center;
}

#root {
  width: 350px;
  height: 100%;
  background: #DDDDDD;
}

@media only screen and (max-width: 450px) {
  #root {
    width: 100vw !important;
  }
}
